<!-- BEGIN HEADER -->
<div class="page-header navbar navbar-fixed-top">
    <!-- BEGIN HEADER INNER -->
    <div class="page-header-inner ">
        <!-- BEGIN LOGO -->
        <div class="page-logo">
            <a href="#">
                <span>My Voice</span>
            </a>
            <div class="menu-toggler sidebar-toggler hide">
                <!-- DOC: Remove the above "hide" to enable the sidebar toggler button on header -->
            </div>
        </div>
        <!-- END LOGO -->
        <form class="nav-search" ng-submit="$ctrl.btnCreateNewPhrase()">
            <div class="input-group">
                <span></span>
                <span class="input-group-btn">
                    <button type="button" ng-click="$ctrl.btnAddPhrase()" class="btn btn-success"><i class="fa fa-plus" aria-hidden="true"></i> Add</button>
                    <button type="button" ng-click="$ctrl.btnEditMode()" class="btn btn-warning" ng-hide="$ctrl.editMode" confirm="Are you sure you want to enter Edit Mode?"><i class="fa fa-pencil-square-o" aria-hidden="true"></i> Edit</button>
                    <button type="button" ng-click="$ctrl.btnEditMode()" class="btn btn-warning" ng-show="$ctrl.editMode"><i class="fa fa-play" aria-hidden="true"></i> Play Mode</button>
                    <button type="button" ng-click="$ctrl.btnUser()" class="btn btn-primary"><i class="fa fa-user" aria-hidden="true"></i> User</button>
                </span>
            </div>
        </form>
    </div>
    <!-- END HEADER INNER -->
</div>
<!-- END HEADER -->
<!-- BEGIN HEADER & CONTENT DIVIDER -->
<div class="clearfix"> </div>
<!-- END HEADER & CONTENT DIVIDER -->
<!-- BEGIN CONTAINER -->
<div class="page-container">
    <!-- BEGIN SIDEBAR -->
    <div class="page-sidebar-wrapper">
        <!-- END SIDEBAR -->
        <div class="page-sidebar">
            <!-- BEGIN SIDEBAR MENU -->
            <ul class="page-sidebar-menu  page-header-fixed page-sidebar-menu-hover-submenu ">
                <li class="nav-item start " ng-click="$ctrl.btnSelectFilter('All')" ng-class="{active: $ctrl.categoryFilter == 'All'}">
                    <a class="nav-link nav-toggle">
                        <i class="icon-directions"></i>
                        <span class="title">All</span>
                        <span class="arrow"></span>
                    </a>
                </li>
                <li class="nav-item start " ng-class="{active: $ctrl.categoryFilter == category.name}" ng-repeat="category in $ctrl.categories">
                    <a ng-click="$ctrl.btnSelectFilter(category)" class="nav-link nav-toggle">
                        <i class="{{category.icon}}"></i>
                        <span class="title">{{category.name}}</span>
                        <span class="arrow"></span>
                    </a>
                </li>
                <li class="nav-item start" ng-show="$ctrl.editMode" ng-click="$ctrl.btnSelectFilter(null)">
                    <a class="nav-link nav-toggle">
                        <i class="icon-plus"></i>
                        <span class="title">New Category</span>
                        <span class="arrow"></span>
                    </a>
                </li>
            </ul>
            <!-- END SIDEBAR MENU -->
        </div>
        <!-- END SIDEBAR -->
    </div>
    <!-- END SIDEBAR -->
    <!-- BEGIN CONTENT -->
    <div class="page-content-wrapper">
        <!-- BEGIN CONTENT BODY -->
        <div class="page-content">
            <audio id="audio-ele">
                <source id="audio-src" src="" type="audio/mp3" />
            </audio>
            <div class="fab-wrapper">
                <div class="fab" ng-click="$ctrl.btnPlayPause()">+</div>
            </div>
            <div ng-show="$ctrl.editMode" class="alert alert-warning">
                <h2>Edit Mode</h2>
                <ul>
                    <li>Tap on a Category to edit it.</li>
                    <li>Tap on a Phrase to edit it.</li>
                </ul>
            </div>
            <div class="todo-container">
                <phrase-list all-phrases="$ctrl.phrases" edit-mode="$ctrl.editMode" category-filter="$ctrl.categoryFilter"></phrase-list>
            </div>
        </div>
        <!-- END CONTENT BODY -->
    </div>
    <!-- END CONTENT -->
</div>
<!-- END CONTAINER -->


<!--<div class="bottom-music-bar">
    <div class="navbar navbar-default navbar-fixed-bottom">
        <div class="seekWrapper" seek-track>
            <div class="seekProgress" ng-style="{width : ( progress + '%' ) }"></div>
        </div>
        <div class="container-fluid nowrap-elipsis">
            <button type="button" class="btn btn-default navbar-btn" play-pause-toggle data-play='<i class="fa fa-play" aria-hidden="true"></i>' data-pause='<i class="fa fa-pause" aria-hidden="true"></i>'><i class="fa fa-play" aria-hidden="true"></i></button>
            <span class="nowrap-elipsis">
                <span class="playing-info">
                    <strong>Playing:</strong> {{ currentPlaying.title }}
                </span>
            </span>
        </div>
    </div>
</div>
<div ng-http-loader template="Scripts/App/Components/Loader/loader1.html"></div>-->
