<div class="page-header-fixed page-sidebar-closed-hide-logo page-container-bg-solid page-md page-sidebar-fixed">
    <!-- BEGIN HEADER -->
    <div class="page-header navbar navbar-fixed-top">
        <!-- BEGIN HEADER INNER -->
        <div class="page-header-inner ">
            <!-- BEGIN LOGO -->
            <div class="page-logo">
                <a href="#">
                    <span>My Voice</span>
                </a>
                <div class="menu-toggler sidebar-toggler hide">
                    <!-- DOC: Remove the above "hide" to enable the sidebar toggler button on header -->
                </div>
            </div>
            <!-- END LOGO -->
            <form class="nav-search" ng-submit="$ctrl.btnCreateNewPhrase()">
                <div class="input-group">
                    <span></span>
                    <span class="input-group-btn">
                        <button type="button" ng-click="$ctrl.btnAddPhrase()" class="btn btn-success"><i class="fa fa-plus" aria-hidden="true"></i> Add</button>
                        <button type="button" ng-click="$ctrl.btnEditMode()" class="btn btn-warning" ng-hide="$ctrl.editMode" confirm="Are you sure you want to enter Edit Mode?"><i class="fa fa-pencil-square-o" aria-hidden="true"></i> Edit</button>
                        <button type="button" ng-click="$ctrl.btnEditMode()" class="btn btn-warning" ng-show="$ctrl.editMode"><i class="fa fa-play" aria-hidden="true"></i> Voice Mode</button>
                        <button type="button" ng-click="$ctrl.btnUser()" class="btn btn-primary"><i class="fa fa-user" aria-hidden="true"></i> User</button>
                    </span>
                </div>
            </form>
        </div>
        <!-- END HEADER INNER -->
    </div>
    <!-- END HEADER -->
    <!-- BEGIN HEADER & CONTENT DIVIDER -->
    <div class="clearfix"> </div>
    <!-- END HEADER & CONTENT DIVIDER -->
    <!-- BEGIN CONTAINER -->
    <div class="page-container">
        <category-sidebar categories="$ctrl.categories" category-filter="$ctrl.categoryFilter" edit-mode="$ctrl.editMode"></category-sidebar>
        <!-- END SIDEBAR -->
        <!-- BEGIN CONTENT -->
        <div class="page-content-wrapper">
            <!-- BEGIN CONTENT BODY -->
            <div class="page-content">
                <audio id="audio-ele">
                    <source id="audio-src" src="" type="audio/mp3" />
                </audio>
                <div class="fab-wrapper">
                    <div class="fab" ng-click="$ctrl.btnPlayPause()">+</div>
                </div>
                <div ng-show="$ctrl.editMode" class="alert alert-warning">
                    <h2>Edit Mode</h2>
                    <ul>
                        <li>Tap on a Category to edit it.</li>
                        <li>Tap on a Phrase to edit it.</li>
                    </ul>
                </div>
                <div class="todo-container">
                    <phrase-list all-phrases="$ctrl.phrases" edit-mode="$ctrl.editMode" category-filter="$ctrl.categoryFilter"></phrase-list>
                </div>
            </div>
            <!-- END CONTENT BODY -->
        </div>
        <!-- END CONTENT -->
    </div>
    <!-- END CONTAINER -->
    <div ng-http-loader template="Scripts/App/Components/Loader/loader1.html"></div>
</div>