<!-- BEGIN SIDEBAR -->
<div class="page-sidebar-wrapper">
    <!-- END SIDEBAR -->
    <div class="page-sidebar">
        <!-- BEGIN SIDEBAR MENU -->
        <ul class="page-sidebar-menu  page-header-fixed page-sidebar-menu-hover-submenu ">
            <li class="nav-item start " ng-click="$ctrl.btnSelectFilter({name: 'All'})" ng-class="{active: $ctrl.categoryFilter.name == 'All'}">
                <a class="nav-link nav-toggle">
                    <i class="icon-directions"></i>
                    <span class="title">All</span>
                    <span class="arrow"></span>
                </a>
            </li>
            <li class="nav-item start " ng-class="{active: $ctrl.categoryFilter.name == category.name}" ng-repeat="category in $ctrl.categories | orderBy:'name'">
                <a ng-click="$ctrl.btnSelectFilter(category)" class="nav-link nav-toggle">
                    <i class="{{category.icon}}"></i>
                    <span class="title">{{category.name}}</span>
                    <span class="arrow"></span>
                </a>
            </li>
            <li class="nav-item start" ng-show="$ctrl.editMode" ng-click="$ctrl.btnSelectFilter({name: null})">
                <a class="nav-link nav-toggle">
                    <i class="icon-plus"></i>
                    <span class="title">New Category</span>
                    <span class="arrow"></span>
                </a>
            </li>
        </ul>
        <!-- END SIDEBAR MENU -->
    </div>
    <!-- END SIDEBAR -->
</div>
