
@model MyVoiceMVC.Models.IndexViewModel
@{
    ViewBag.Title = "Manage Account";
}

<div class="login">
    <div class="content">
        <h3 class="form-title font-green">@ViewBag.Title</h3>

        <p class="">@ViewBag.StatusMessage</p>
        <div class="create-account">
            <p>
                @Html.ActionLink("Home", "Index", "Home", null, new { @class = "uppercase" })
            </p>
        </div>
    </div>
</div>