<!-- BEGIN SIDEBAR -->
<div class="page-sidebar-wrapper">
    <div class="page-sidebar">
        <div class="page-sidebar-menu">
            <button class="btn-category" ng-click="$ctrl.btnSelectFilter({name: 'All'})" ng-class="{active: $ctrl.categoryFilter.name == 'All'}">
                <i class="icon-directions" aria-hidden="true"></i>
                <span class="title">All</span>
            </button>
            <button class="btn-category " ng-click="$ctrl.btnSelectFilter(category)"  ng-class="{active: $ctrl.categoryFilter.name == category.name}" ng-repeat="category in $ctrl.categories | orderBy:'name'">
                <i class="{{category.icon}}" aria-hidden="true"></i>
                <span class="title">{{category.name}}</span>
            </button>
            <button class="btn-category" ng-if="$ctrl.editMode" ng-click="$ctrl.btnSelectFilter({name: null})">
                <i class="icon-plus" aria-hidden="true"></i>
                <span class="title">New Category</span>
            </button>
        </div>
    </div>
</div>
