
<sound-manager></sound-manager>

<div class="todo-container">
    <div class="row">
        <div class="col-md-12">
            <div class="todo-projects-container">
                <div class="todo-padding-b-0">
                    <div class="todo-head">
                        <h2>{{tagFilter}}</h2>
                    </div>
                </div>
                <div ng-show="phrases.length == 0">
                    <p class="text-center">You don't have any phrases!</p>
                </div>
                <div ng-repeat="phrase in phrases  | selectedTag:tagFilter track by $index" ng-click="btnPlay(phrase)">
                    <div class="todo-projects-item clearfix">
                        <div class="todo-inline todo-float-r">
                            <button type="button" class="btn btn-info btn-icon-only" ng-click="btnEditPhrase(phrase, $event)"><i class="fa fa-ellipsis-v" aria-hidden="true"></i></button>
                        </div>
                        <div class="phrase">{{ phrase.title }}</div>
                    </div>
                    <div class="todo-projects-divider"></div>
                </div>
            </div>
        </div>
    </div>
</div>

