
<div ng-app="MyVoice" ng-controller="PhraseController" ng-init="init()">
    <!-- BEGIN HEADER -->
    <div class="page-header navbar navbar-fixed-top">
        <!-- BEGIN HEADER INNER -->
        <div class="page-header-inner ">
            <!-- BEGIN LOGO -->
            <div class="page-logo">
                <a href="/">
                    <span>@ViewBag.Title</span>
                </a>
                <div class="menu-toggler sidebar-toggler hide">
                    <!-- DOC: Remove the above "hide" to enable the sidebar toggler button on header -->
                </div>
            </div>
            <!-- END LOGO -->
            <form class="nav-search" ng-submit="btnCreateNewPhrase()">
                <div class="input-group">
                    <input type="text" class="form-control" ng-model="newPhrase.text" placeholder="Type a Phrase..." />
                    <span class="input-group-btn">
                        <button type="button" ng-click="btnCreateNewPhrase()" class="btn btn-primary"><i class="fa fa-floppy-o" aria-hidden="true"></i> Save</button>
                    </span>
                </div>
            </form>
        </div>
        <!-- END HEADER INNER -->
    </div>
    <!-- END HEADER -->
    <!-- BEGIN HEADER & CONTENT DIVIDER -->
    <div class="clearfix"> </div>
    <!-- END HEADER & CONTENT DIVIDER -->
    <!-- BEGIN CONTAINER -->
    <div class="page-container">
        <!-- BEGIN SIDEBAR -->
        <div class="page-sidebar-wrapper">
            <!-- END SIDEBAR -->
            <div class="page-sidebar">
                <!-- BEGIN SIDEBAR MENU -->
                <ul class="page-sidebar-menu  page-header-fixed page-sidebar-menu-hover-submenu ">
                    <li class="nav-item start " ng-click="changeFilter('All')" ng-class="{active: tagFilter == 'All'}">
                        <a class="nav-link nav-toggle">
                            <i class="icon-directions"></i>
                            <span class="title">All</span>
                            <span class="arrow"></span>
                        </a>
                    </li>
                    <li class="nav-item start " ng-class="{active: tagFilter == tag}" ng-repeat="tag in allTags">
                        <a ng-click="changeFilter(tag)" class="nav-link nav-toggle">
                            <i class="icon-tag"></i>
                            <span class="title">{{tag}}</span>
                            <span class="arrow"></span>
                        </a>
                    </li>
                </ul>
                <!-- END SIDEBAR MENU -->
            </div>
            <!-- END SIDEBAR -->
        </div>
        <!-- END SIDEBAR -->
        <!-- BEGIN CONTENT -->
        <div class="page-content-wrapper">
            <!-- BEGIN CONTENT BODY -->
            <div class="page-content">
                <sound-manager></sound-manager>

                <div class="todo-container">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="todo-projects-container">
                                <div class="todo-padding-b-0">
                                    <div class="todo-head">
                                        <h2>{{tagFilter}}</h2>
                                    </div>
                                </div>
                                <div ng-show="phrases.length == 0">
                                    <p class="text-center">You don't have any phrases!</p>
                                </div>
                                <div class="row">
                                    <div ng-repeat="phrase in phrases  | selectedTag:tagFilter track by $index" ng-click="btnPlay(phrase)" class="col-lg-6">
                                        <div class="todo-projects-item clearfix">
                                            <div class="todo-inline todo-float-r">
                                                <button type="button" class="btn btn-info btn-icon-only btn-lg" ng-click="btnEditPhrase(phrase, $event)"><i class="fa fa-ellipsis-v" aria-hidden="true"></i></button>
                                            </div>
                                            <div class="phrase">{{ phrase.title }}</div>
                                        </div>
                                        <div class="todo-projects-divider"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <!-- END CONTENT BODY -->
        </div>
        <!-- END CONTENT -->

    </div>
    <!-- END CONTAINER -->


    <div class="bottom-music-bar">
        <div class="navbar navbar-default navbar-fixed-bottom">
            <div class="seekWrapper" seek-track>
                <div class="seekProgress" ng-style="{width : ( progress + '%' ) }"></div>
            </div>
            <div class="container-fluid nowrap-elipsis">
                <button type="button" class="btn btn-default navbar-btn" play-pause-toggle data-play='<i class="fa fa-play" aria-hidden="true"></i>' data-pause='<i class="fa fa-pause" aria-hidden="true"></i>'><i class="fa fa-play" aria-hidden="true"></i></button>
                <button type="button" class="btn btn-default navbar-btn" ng-click="btnChangeVolume()"><i class="fa fa-volume-up" aria-hidden="true"></i></button>
                <span class="nowrap-elipsis">
                    <span class="playing-info">
                        <strong>Playing:</strong> {{ currentPlaying.title }}
                    </span>
                </span>
            </div>
        </div>
    </div>
</div>
