/* here you can put your own css to customize and override the theme */

body {
    padding-bottom: 70px;
}

.page-header-inner {
    box-shadow: 0px 1px 10px 0px rgba(50, 50, 50, 0.2);
    background: #ffffff;

}

.page-logo span {
    font-weight: 300;    
    font-size: 2.3em;
    line-height: 2.12em;
}

.page-header.navbar .page-logo {
    padding-left: 10px;
    padding-right: 10px;
}

.page-logo a:hover {
    text-decoration:none;
}

.nav-search {
    padding:0;
    height:68px;
    background-color: #26344B;
}

.nav-search .input-group {
    height:100%;
}

.nav-search .form-control {
    height: 68px;
    font-size: 2em;
    border-radius: 0px;
}

.nav-search .btn {
    height: 68px;
    font-size: 20px;
    border-radius: 0px;
}

.page-header.navbar.navbar-fixed-top {
    z-index: 1038;
}

.page-footer .page-footer-inner {
    float:none;
}


.todo-projects-item {
    padding: 0;
}

.todo-container .todo-projects-item > h3 {
    display: inline-block;
}

.todo-container .todo-projects-item p {
    color: #333;
}

.todo-container .todo-projects-item .phrase {
    padding: 17px 20px;
    font-size: 20px;
}

.phrase.new-phrase {
    border-left: 5px solid green;
}

.todo-float-r {
    padding: 10px 20px;
}


.todo-container .todo-head {
    padding: 5px 20px;
}

.todo-container .btn-filter {
    float:right;
}

.todo-container .btn-filter .btn {
    margin: 18px 0px;
}

.playingInfo {
    margin: 24px;
    overflow: hidden;
    overflow-wrap: break-word;
    float: left;
    color: #666;
}

.playing-info {
    color: #777;
    margin: 15px;
}

.btn.btn-icon-only.btn-lg {
    padding-top: 6px;
    padding-bottom: 6px;
    width: 45px;
}

.nowrap-elipsis {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.bottom-music-bar .navbar-text {
    display: inline;
}

.tag-label {
    font-size: 1.2em;
    line-height: 1.8;
}


/* Mobile */
@media (max-width: 767px) {
    .page-header.navbar .page-logo{
        display: none;
    }
    .page-header.navbar {
        height: 68px;
    }

    .nav-search .form-control {
        font-size: 1.5em;
    }

    .nav-search .btn {
        font-size: 17px;
    }
}

.seekWrapper {
    position: absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
    z-index:-1;
}

.seekProgress {
    width: 100%;
    height: 100%;
    background-color: #e6e6e6;
}
.page-sidebar .page-sidebar-menu > li > a > .title {
    font-size: 16px;
}

.edit-status {
    display: table-cell;
    vertical-align: middle;
}

/*.page-sidebar .page-sidebar-menu > li > a > i[class^="icon-"], .page-sidebar .page-sidebar-menu > li > a > i[class*="icon-"] {
    color: #4d5d7c;
}

.page-sidebar .page-sidebar-menu > li > a > i[class^="icon-"], .page-sidebar .page-sidebar-menu > li > a > i[class*="icon-"] {
    color: #97b1e2;
}

.page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu > li.active > a > i, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu > li.active.open > a > i, .page-sidebar .page-sidebar-menu > li.active > a > i, .page-sidebar .page-sidebar-menu > li.active.open > a > i {
    color: #97b1e2;
}*/

.page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu > li > a > i[class^="icon-"], .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu > li > a > i[class*="icon-"], .page-sidebar .page-sidebar-menu > li > a > i[class^="icon-"], .page-sidebar .page-sidebar-menu > li > a > i[class*="icon-"] {
    color: #7287b1;
}

.page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu > li.active > a > i, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu > li.active.open > a > i, .page-sidebar .page-sidebar-menu > li.active > a > i, .page-sidebar .page-sidebar-menu > li.active.open > a > i {
    color: #18cdc4;
}

.alert-no-margin {
    margin: 0px;
}

.alert h2 {
    margin-top: 0px;
}

.category-list {
}

.category-list label {
    margin-bottom:0;
    font-size: 20px;
}

.category-list span {
    margin: 5px 0;
}

.btn.btn-icon-only.btn-lg.btn-close {
    background-color: #fff;
    font-size: 25px;
    height: auto;
}

.section-head {
    margin: 0px 0px 10px;
    padding: 6px 0;
}

.text-md {
    font-size: 20px;
}

.icon-picker {
    font-size: 30px;
    line-height: normal;
}
.icon-picker i:hover {
    background-color:#e9e8e8;
}
.icon-picker i{
    cursor:pointer;
    padding: 10px;
}

.icon-picker i.picked{
    outline: 2px solid #17C4BB;
}

.modal-body {
    max-height: calc(100vh - 220px);
    overflow-y: auto;
}

.navbar-default {
    background-color: #FFF;
    border-color: #e7e7e7;
}

.page-sidebar-wrapper {
    position:fixed;
    overflow-y:scroll;
}

.fab-wrapper {
    position: fixed;
    bottom: 32px;
    right: 32px;
}

.fab {
    background-color:#17c4bb;
    width:60px;
    height:60px;
    border-radius:100%;
    background:#17c4bb;
    border:none;
    outline:none;
    color:#FFF;
    font-size: 28px;
    line-height: 2.1;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    transition:.3s;  
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    text-align:center;
    cursor:pointer;
    display:none;
}