
<div class="modal-header">
    <h1 class="modal-title">{{$ctrl.modalTitle}}<button class="pull-right btn btn-lg btn-icon-only btn-no-border btn-close" type="button" ng-click="$ctrl.cancel()"><i class="fa fa-times" aria-hidden="true"></i></button></h1>
</div>
<div class="modal-body">
    <div class="form-group">
        <h2 class="section-head" for="Text">Category Name</h2>
        <input type="text" ng-change="$ctrl.isDirty = true" class="form-control input-lg" id="txtCategoryName" placeholder="Category Name" ng-model="$ctrl.category.name">
    </div>
    <h2 class="section-head">Icon</h2>
    <!--<input type="text" ng-change="$ctrl.isDirty = true" class="form-control input-lg" placeholder="Category Icon" ng-model="$ctrl.category.icon">-->
    <div class="row icon-picker">
        <div class="col-xs-2 text-center" ng-click="$ctrl.changeIcon(icon)" ng-repeat="icon in $ctrl.icons"><i class="{{icon}}"  ng-class="{picked: $ctrl.category.icon == icon }"></i></div>
    </div>
</div>
<div class="modal-footer row">
    <div class="col-xs-4">
        <button class="btn btn-lg btn-danger btn-block" ng-show="$ctrl.category.guid.length > 0" confirm="Are you sure you want to delete this Category?" type="button" ng-click="$ctrl.delete()"><i class="fa fa-trash-o" aria-hidden="true"></i><span class="hidden-xs"> Delete</span></button>
    </div>
    <div class="col-xs-8">
        <button class="btn btn-lg btn-success btn-block" type="button" ng-disabled="!$ctrl.isDirty || !$ctrl.category.name.length" ng-click="$ctrl.save()"><i class="fa fa-floppy-o" aria-hidden="true"></i> Save</button>
    </div>
</div>